<div class="uk-background-cover" uk-parallax="bgy: -100" style="background-image: url('{{ vich_uploader_asset(bloc, 'thumbnailFile')}}');">
		<div class="uk-overlay uk-overlay-primary uk-text-center uk-light">
			<h2 class="uk-heading-small uk-margin-large-top {% if bloc.textBlanc == true %}font-blanc{% endif %}">{{bloc.titre}}</h2>
            <div class="uk-text-center uk-margin-medium-top uk-margin-large-bottom {% if bloc.textBlanc == true %}font-blanc{% endif %}">{{bloc.content | raw}}</div>
            {% if bloc.lien != null %}
                <a href="{{bloc.lien}}" class="uk-button uk-button-default uk-light uk-margin-large-bottom" target="_blank">{{bloc.textLien}}</a>
            {% endif %}
		</div>
	</div>