<div class="uk-container uk-container-small">
    <div class="uk-child-width-1-2@s uk-grid-match uk-margin-large-bottom" uk-grid>
        {% for service in services %}
            {% if service.isBest == true %}
            <div>
                <div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-light uk-text-center">
                    <i class="{{service.icon}} uk-heading-medium uk-margin-medium-top font-blanc"></i>
                    <h3 class="uk-card-title uk-text-center uk-text-light font-blanc">{{service.titre}}</h3>
                    <h1 class="uk-heading-small uk-margin-small-top uk-text-uppercase font-blanc">{{service.prix}} chf</h1>
                    <p>{{service.description}}</p>
                    <a href="{{ path('home') }}#contact" class="uk-button uk-button-default uk-light uk-margin-msmall-top">Me contacter</a>
                </div>
            </div>
            {% else %}
            <div class="uk-margin-medium">
                <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-text-center">
                    <i class="{{service.icon}} uk-heading-medium uk-margin-small-top"></i>
                    <h4 class="uk-card-title uk-text-center uk-text-light">{{service.titre}}</h4>
                    <h4 class="uk-heading-small uk-margin-small-top uk-text-uppercase">{{service.prix}} chf</h4>
                    <p>{{service.description}}</p>
                    <a href="{{ path('home') }}#contact" class="uk-button uk-button-default uk-margin-medium-bottom uk-margin-small-top">Me contacter</a>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>